.faq-title {
  text-align: center;
  padding: 5% 0 3%;
  color: #3D5AAA !important
}

.faq {
  padding: 0 10%;
}

h5 > a {
	color: #3D5AAA;
  background-color: white;
}

.card-header {
  border: none;
}

/*vvvvvvvvvvvvvvvv  KELLI'S EDITS  vvvvvvvvvvvvvvv*/
.card{
  border: 0;
  border-radius: 0;
}

.card-header{
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.card-header h5{
  height: auto;
  width: 100%;
}

.card-header h5 a{
  padding: .75rem 1.25rem;
  height: auto;
  display: block;
  width: 100%;
}
/*^^^^^^^^^^^^^^^^^^ KELLI'S EDITS ^^^^^^^^^^^^^^^^^*/