.services-header {
	text-align: center;
}

.services-title {
  padding: 4% 0 2%;
  color: #3D5AAA !important;
}

.App {
  display: flex;
  flex-direction: column;
}

.service-name {
  color: #3D5AAA !important;
}

.services-row {
  overflow: hidden;
  padding: 0 10% 2em;
}

.service-certificate-icar {
  width: 12%;
}

.service-certificate-ase {
  width: 7%;
}

.left-service-column {
  display: inline-block;
  float: left;
  width: 60%;
}

.right-service-column {
  display: inline-block;
  float: right;
}

.service-image {
  padding: 1em 0em 0em 0em;
}

.bumper {
  height: 4em;
  width: 100%;
}

@media only screen and (max-width: 992px){
  .left-service-column, .right-service-column {
    display: inline-block;
    float: none;
    width: 100%;
  }  
  .service-certificate-icar, .service-certificate-ase {
    display: block;
    margin: auto;
    width: 20%;
  }
  .service-image {
    padding: 1em 1em 0em 1em;
  }
}

@media only screen and (max-width: 1200px){
}