/*
.logo {
  display: flex;
}*/

.navbar {  
  text-align: center;
  background-color: #2b2b2b;
  align-items: center;
  justify-content: space-between;
  color: #bababa;
}

.collapse a, p{
  color: #bababa;
  border: 1px #2b2b2b solid;
  text-decoration: none;
  padding: 9px;
}

.collapse a:hover{  
  color: white;
  border: 1px #bababa solid;
  text-decoration: none;
}

@media (max-width: 991px) {
  #address {
    display: none;
  }
}