/*.nav {
  display: flex;
  text-align: center;
  width: 100%;
  background-color: #2b2b2b;
  align-items: center;
  justify-content: space-between;
  color: #bababa;
}

.nav a {
  border: 1px #2b2b2b solid;
  color: #bababa;
  text-decoration: none;
  padding: 9px;
}

.nav a:hover {
  border: 1px #bababa solid;
  color: white;
  text-decoration: none;
}

.logo {
  display: flex;
}*/

.navbar {
  padding: 0;
  background-color: #2B2B2B !important;
}

.d-block {
  width: 225px;
}

.nav-item {
  border: 1px solid #2b2b2b;
  padding: 0;
}

.nav-item:hover, .nav-item:active {
  border: 1px solid white;
}

.nav-item a, a.nav-item, .header-info{
  color: #bababa;
}

.nav-item a:hover{
  color: white;
  text-decoration: none;
}

.header-info {
  font-size: 0.75em;
  margin-right: 2em;
}

.info-span1 {
  float: left;
}

.info-span2 {
  float: right;
}

@media only screen and (max-width: 992px) {
    .nav-link {
      margin-left: 2.4em;
    }

    .navbar-toggler {
      margin: .5em;
    }

    .header-info {
      display: none;
    }
}