.tales {
  width: 95%;
  margin: 0 auto;
}
.carousel-inner{
  width: 80%;
  margin: 0 auto;
  max-height: 500px !important;
}

.carousel, .slide {
	/*padding-bottom: 1em;*/
	background-color: #ECF2F5;
}

.carousel-item {
	object-fit: none;
	object-position: center;
	height: 494;
	width: 1184;
}

.home-top {
	padding: 0 10%;
	padding-top: 4em;
	padding-bottom: 3em;
	letter-spacing: 0;
	overflow: hidden;
}

.top-text {
	width: 62%;
	display: inline-block;
}

.top-header {
	color: #3D5AAA !important;
	/*font-weight: 200 !important;*/
	letter-spacing: 0;
	font-size: 2em !important;
	padding-bottom: .5em
}

.top-description {
	font-size: 1.4em;
	/*line-height: 19px;*/
}

/*.top-insurance {
	background-color: #3D5AAA;
	color: white;
	width: 28%;
	float: right;
	padding: 22px 27px 27px;
	border-radius: 5px;
}

.insurance-image {
	height: auto;
	max-width: 80px;
	display: inline-block;
	vertical-align: middle;
}

.insurance-button {
	text-align: center;
	width: 100%;
	padding: 12px;
	margin-top: 17px;
	border: 1px solid white;
	border-radius: 2px;
	font-size: 1.25em;
	transition: 0.25s ease;
}

.insurance-button:hover {
	background-color: white;
	color: #3f51b5;
	cursor: pointer;
}

.insurance-text {
	width: 65%;
	margin-left: 0.9em;
	display: inline-block;
	vertical-align: middle;
}

.insurance-header {
	font-size: 1.4em;
	color: white;
	font-weight: bold;
}

.insurance-description {
	font-size: 1em;
}*/

.certification-header {
	font-size: .75em;
	font-weight: normal;
}

.home-certifications {
	text-align: center;
	/*padding-top: 3em;*/
	/*padding-bottom: 1em;*/
}

/*.certification-bar{
	border: 1px solid black;
}*/

.certification-image {
	height: 4em;
	margin: 1em;
}

.home-bottom {
	text-align: center;
	background-color: #444444;
	padding: 0 10% 2%;
}

.bottom-header {
	padding-top: 1em;
	color: white !important;
}

.bottom-media {
	width: 100%;
	margin: 1.5em auto 4em;
}

.primary-media {
	display: inline-block;
	width: 60%;
}

.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /*16:9 aspect ratio*/
	padding-top: 25px;
	height: 0;
}

.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.secondary-media {
	padding-bottom: 1em;
}

.secondary-media-column {
	display: flex;
	flex-direction: column;
	float: right;
	width: 30%;
}

/*#media2 {
	padding-top: 5%;
}*/


/*@media only screen and (max-width: 400px) {
	.primary-youtube{
  	height: auto;
  	width: 100%
	}

	.primary-youtube iframe{
	  width: 300px;
	  height: 200px;
	}
}*/

@media only screen and (max-width: 1500px) and (min-width: 1020px){
/*	.top-header {
		font: 1.75em !important;
	}*/

/*	.insurance-image {
		max-width: 60px;
	}

	.insurance-header {
		font-size: 1.1em;
	}

	.insurance-text {
		font-size: 1em;
		width: 70%;
		min-width: 170px;
	}

	.insurance-description {
		font-size: 0.9em;
	}

	.insurance-button {
		width: 90%;
		font-size: 1em;
		padding: 9px;
		margin-left: auto;
		margin-right: auto;
	}*/
}

@media only screen and (max-width: 1080px){
	.home-top {
		padding: 0;
	}
	.top-text {
		width: 80%;
		margin: 0 10%;
	}

/*	.carousel-item {
		height: 125px;
		width: 300px;
	}
*/
	.secondary-media-column {
		float: none;
		display: block;
		margin: auto;
	}
	.top-header {
		color: #3D5AAA !important;
		letter-spacing: 0;
		font-size: 1.5em !important;
		padding: 1em 0 .5em 0
	}	
	.top-description {
		font-size: 1.2em;
	}
/*	.top-insurance {
		float: none;
		width: 80%;
		padding: 13px 20px 20px;
		margin: 1em 10% 1.5em;
	}
	.insurance-header {
		font-size: 1.2em;
	}
	.insurance-button {
		padding: 12px 3px;
		color: white !important;
	}*/
	.primary-media {
		height: auto;
		width: 100%;
	}
	.bottom-media {
		display: flex;
		flex-direction: column;
		margin: 0;
	}
	.secondary-media-column {
		padding: 0;
		height: auto;
		width: 100%;
	}
	.home-bottom {
		padding-bottom: 2em;
	}
	.primary-media, .secondary-media {
		padding-bottom: 1em;
	}
}

/*@media only screen and (max-width: 1020px){
	.insurance-image {
		max-width: 60px;
	}
}*/


/*@media only screen and (max-width: 749px){*/
.top-insurance {
	background-color: #3D5AAA;
	color: #FFF;
	width: 80%;
	padding: 13px 20px 20px;
	border-radius: 5px;
	display: flex;
	flex-flow: row wrap;
	margin: 1em auto 1.5em;
}
.insurance-text {
	/*border: 1px solid greenyellow;*/
	flex: 0 0 70%;
}
.insurance-button {
	text-align: center;
	border: 1px solid #FFF;
	border-radius: 2px;
	font-size: 1.25em;
	transition: .25s ease;
	flex: 0 0 100%;
	margin-top: 0.75em;
	padding: 12px 3px;
	color: #FFF;
}
.insurance-image {
	/*border: 1px solid red;*/
	flex: 0 0 30%;
	margin: auto;
	padding-right: 1em;
}
/*}*/

@media only screen and (min-width: 750px){
	.insurance-image: {
		flex: 0 0 120px;
	}
	.insurance-text {
		flex: 1 1 30%;
	}
	a.insurance-button {
		flex: 0 0 170px;
		margin: auto;
		height: 57px;
		margin-left: 0.5em;
	}
}

@media only screen and (min-width: 1080px){
/*vvvvvvvvvvvvvvvvvKELLI'S EDITSvvvvvvvvvvvvvvvvvvvvvv*/
	.top-insurance {
		width: 35%;
		float: right;
	}
	.insurance-image {
		flex: 0 0 80px;
		max-width: none;
	}
	a.insurance-button {
		flex: 0 0 100%;
		margin: auto;
		height: auto;
		margin-left: 0;
		margin-top: 1em;
	}
/*^^^^^^^^^^^^^^^^KELLI'S EDITS^^^^^^^^^^^^^^^^^^*/
}


/*@media only screen and (max-width: 600px) and (min-width: 401px) {
	.primary-youtube, .media1-youtube, .media2-youtube {
		width: 400px;
		height: 300px;
	}
}

@media only screen and (max-width: 991px) and (min-width: 601px) {
	.primary-youtube, .media1-youtube, .media2-youtube {
		width: 350px;
		height: 500px;
	}
}*/