.tales {
  width: 95%;
  margin: 0 auto;
}
.carousel-inner{
  width:95%;
  margin: 0 auto;
  max-height: 400px !important;
}

.carousel, .slide {
	padding-bottom: 1em;
	border: 1px solid green;
}

.home-top {
	border:3px solid black;
	padding: 36px;
	margin-top: 2em;
	letter-spacing: 0.3px;
	overflow: hidden;
}

.top-text {
	border: 1px solid red;
	width: 60%;
	display: inline-block;
}

.top-header {
	border: 1px solid blue;
	color: #3D5AAA !important;
	font-weight: 200 !important;
	letter-spacing: 0.75px;
}

.top-description {
	border: 1px solid orange;
}

.top-insurance {
	border: 1px solid yellow;
	background-color: #3D5AAA;
	color: white;
	width: 30%;
	display: inline-block;
	float: right;
	height: 190px;
	padding: 1em;
}

.insurance-image {
	height: 50px;
	width: 30%;
	display: inline-block;
	vertical-align: middle;
}

.insurance-button {
	text-align: center;
	width: 100%;
	border: 0.5px solid white;
	padding: 0.5em;
	margin-top: 0.5em;
}

.insurance-text {
	width: 60%;
	margin-left: 1em;
	display: inline-block;
	vertical-align: middle;
}

.insurance-header {
	font-size: 1em !important;
	color: white !important;
	font-weight: bold !important;
}

.insurance-description {
	font-size: .75em;
}

.certification-header {
	font-size: .75em;
	font-weight: normal;
}

.home-certifications {
	text-align: center;
	border: 2px solid red;
}

.certification-bar{
	border: 1px solid black;
}

.certification-image {
	height: 50px;
	margin: 1em;
}

.home-bottom {
	text-align: center;
	border: 2px solid purple;
	background-color: #444444;
	padding-top: 2.5em;
}

.bottom-header {
	color: white !important;
}

.bottom-media {
	width: 90%;
	margin: 1.5em auto 4em;
	border: 1px solid yellow;
	height: 350px;
}

.primary-media, .secondary-media-column {
	display: inline-block;
	border: 1px solid white;
}

.primary-media {
	width: 65%;
	height: 100%;
	float: left;
	background-color: yellow;
}

.secondary-media-column {
	width: 30%;
	height: 100%;
	float: right;
	display: flex;
	flex-direction: column;
}

.secondary-media {
	width: 100%;
	height: 45%;
	border: 1px solid lime;
}

#media1 {
	margin-bottom: auto;
}

#media2 {
	padding-top: 5%;
}