.contact {
  padding: 0 10%;
}

.contact-title {
  text-align: center;
  padding: 4% 0 0 0;
  color: #3D5AAA !important;
  border: 1px solid red;
}

.contact-body {
  display: flex;
  border: 1px solid red;
}

.body-subheader {
  color: #3D5AAA !important;
}

.contact-form {
  border: 1px dotted blue;
  margin: 0 10% 0 0;
}

.name, .email, .phone {
  height: 50px;
}

.message {
  height: 150px;
  width: 650px;
}

.oka-contact-info {
  border: 1px dotted yellow;
  float: right;
}

.directions-body {
  display: flex;
  border: 1px solid red;
}

.directions-subheader {
  font-weight: bold;
}

.directions {
  margin-right: auto;
}

.map {
  border: 1px dotted yellow;
  height: 300px;
  width: 450px;
  background-color: #8F9A99
}

.bumper {
  height: 4em;
  width: 100%;
}

@media only screen and (max-width: 992px){
  .oka-contact-info {
    float: none;
  }
}

