.contact {
  padding: 0 10%;
}

.contact-title {
  text-align: center;
  padding: 4% 0 0 0;
  color: #3D5AAA !important;
  border: 1px solid red;
}

.contact-body {
  border: 1px solid red;
}

.contact-form {
  border: 1px dotted blue;
}

.oka-contact-info {
  border: 1px dotted yellow;
}