.contact {
  padding: 0 10%;
}

.contact-title {
  text-align: center;
  padding: 4% 0 2%;
  color: #3D5AAA !important;
}

.contact-body {
  display: flex;
}

.body-subheader {
  color: #3D5AAA !important;
}

.contact-form {
  margin: 0 10% 0 0;
}

.name, .email, .phone {
  height: 50px;
  width: 80%;
  border: 1px solid #D2D2D2;
}

.select {
  height: 50px;
  width: 25%;
  border: 1px solid #D2D2D2;
  background-color: white;
  margin-top: 0.5em;
  padding-left: 0.5em;
}

.message {
  height: 150px;
  width: 650px;
  border: 1px solid #D2D2D2;
  border-radius: 0;
  background-color: white;
  word-wrap: break-word;
  word-break: break-all;
}

.submit {
  background-color: #2D5FA5;
  color: white;
  margin-bottom: 0.75em;
  padding: 1em 3em;
  border: 1px solid #2D5FA5;
  border-radius: 3px;
  transition: .25s ease;
}

.submit:hover {
  background-color: white;
  color: #3f51b5;
  cursor: pointer;
}

.mobile-hr {
  display: none;
}

.directions-body {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 3em;
}

.directions-subheader {
  font-weight: bold;
}

.directions {
  margin-right: auto;
}

.map {
  border: 1px dotted yellow;
  height: 300px;
  width: 450px;
  background-color: #8F9A99
}

/*.bumper {
  height: 4em;
  width: 100%;
}*/

@media only screen and (max-width: 992px){
  .name, .email, .phone, .message, .map {
    width: 100%;
  }

  .contact-body {
    flex-direction: column-reverse;
  }

  .contact-form {
    margin: 0;
  }

  .mobile-hr {
    display: block;
  }

  .select {
    width: 50%;
  }

  .submit {
    font-size: 0.8em;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em 2em;
  }
  
  .directions-body {
    flex-direction: column;
  }


}