.insurance-page-body {
  text-align: center;
}

.insurance-page {
	padding: 0 10%;
}

.return-home {
  
}

.insurance-fact {
	padding-bottom: 2.75em;
}

.fact-header {
	font-size: 1.5em;
	font-weight: 600;
	padding-bottom: .25em;
}

.insurance-page-body {
	padding-bottom: 5em;
}