a {
  /* color: #007bff !important; */
}

.estimates-title {
  text-align: center;
  padding: 4% 0% 2%;
  color: #3D5AAA !important;
}

.estimates-subheader {
  color: #3D5AAA !important;
  text-align: center;
}

.estimates {
  padding: 0 10%;
}

.estimates-text {
	max-width: 600px;
	margin: 0 auto;
	text-align: center;
}

.appointment-link {
	text-decoration: underline !important;
  color: #007bff !important;
}