body {
	font-family: 'Roboto', sans-serif !important;
}

.App {
	max-width: 1680px;
	margin: 0 auto;
}

.header-title {
	text-align: center;
  padding: .75em 0 .25em;
  color: #3D5AAA !important;
}

.hr {
	padding-bottom: 1em;
}

a:visited {
	color: inherit;
}

@media only screen and (min-width: 1024px){
  .header-title {
    padding: 2em 0 1.5em;
  }
}