.appointment {
	margin: 0 10%;
}

.calendly-inline-widget {
	margin: 0 10%;
	height: 600px;
	/*border: 1px solid red;*/
}


@media only screen and (max-width: 768px){
  .calendly-inline-widget {
		margin: 0;
		height: 600px;
		/*border: 1px solid red;*/
	}
}