.appointment {
	margin: 0 10%;
	text-align: center;
}

.calendly-inline-widget {
	margin: 0 10%;
	height: 600px;
	/*border: 1px solid red;*/
}

.appointment-title {
	padding: 5% 0% 3%;
}


@media only screen and (max-width: 768px){
  .calendly-inline-widget {
		margin: 0;
		height: 600px;
		/*border: 1px solid red;*/
	}
}